// generic classes
.bordered
  border: 1px solid #000

// color customize
.is-primary
  color: rgba(0,0,0,0.75)!important
  .title,
  .subtitle,
  span
    color: rgba(0,0,0,0.75)!important
  p
    color: rgba(0,0,0,0.66)

// transition hero size
.hero-body
  transition: padding 0.25s ease-out

.footer
  &.is-dark
    color: #fff
    background-color: #2e2e2c

img
  box-shadow: none

.custom-cards
  .card
    display: inline-block
    width: 48.5%
    margin-bottom: 3%
    &:nth-child(2n)
      margin-left: 3%

@media only screen and (max-width: 1023px)
  .custom-cards
    .card
      width: 100%
      margin-left: 0!important


.highlight-list
  .message
    display: inline-block
    width: 47.5%
    margin-bottom: 5%!important
    &:nth-child(2n)
      margin-left: 5%
    .message-body
      background-color: #fff

@media only screen and (max-width: 1023px)
  .highlight-list
    .message
      width: 100%
      margin-left: 0!important

.subtitle
  font-weight: normal!important;


.custom-box
  .box
    display: inline-block
    width: 48.5%
    margin-bottom: 3%
    &:nth-child(2n)
      margin-left: 3%

@media only screen and (max-width: 1023px)
  .custom-box
    .box
      width: 100%
      margin-left: 0!important
