// generic classes
.bordered
  border: 1px solid #000

// color customize
.is-primary
  color: rgba(0,0,0,0.75)!important
  .title,
  .subtitle,
  span
    color: rgba(0,0,0,0.75)!important
  p
    color: rgba(0,0,0,0.66)

// transition hero size
.hero-body
  transition: padding 0.25s ease-out

.footer
  &.is-dark
    color: #fff
    background-color: #2e2e2c

img
  box-shadow: none
